extends base.pug
block content
    div.container.marketing
        div.row.featurette
            div.col-md-12
                h2.featurette-heading.rocket О нас
            div.col-md-5.mobile#about
                img.featurette-image.img-fluid.mx-auto(src="img/vhod.jpg" style="margin-top: 1em;")
            div.col-md-7#about(name="about")
                //h2.featurette-heading.rocket Авиабилеты
                p.lead Агентство воздушных и железнодорожных сообщений Авианик начинает свою историю с 1993 года, когда созданное в 1988 году структурное подразделение Ярославского объединённого авиаотряда Агентство воздушных сообщений было преобразовано самостоятельную организацию ТОО Авианик. В это же время ТОО Авианик становится агентом по продаже авиабилетов Главного агентства воздушных сообщений Гражданской Авиации. На протяжении долгих лет мы помогаем жителям и гостям города Ярославля приобретать авиационные и железнодорожные билеты. С самого начала своей деятельности наш главный офис располагается в самом центре города Ярославля на ул. Свободы, дом 20. Агентство воздушных и железнодорожных сообщений Авианик всегда старается открывать для Вас новые возможности. Если немного вернуться в прошлое, то, наверное, трудно представить, что до 1994 года в городе Ярославле невозможно было приобрести авиабилеты на международные рейсы. И вот в 1994 году ТОО Авианик заключает прямой агентский договор на продажу авиабилетов с авиакомпанией Аэрофлот, что позволяет жителям и гостям города Ярославля приобрести авиабилеты на международные рейсы в своём любимом городе. Также, для удобства пассажиров, в 2001 году мы открыли кассу по продаже железнодорожных билетов, что позволяет Вам, купив авиабилет от г. Москвы, приобрести и железнодорожный билет, не выходя из наших касс. Но поезд – это не всегда удобно, и с 2014 года агентство Авианик предлагает своим пассажирам приобрести трансфер (автобусная либо автомобильная перевозка) до аэропортов г.Москвы, что является наиболее удобным способом добраться до аэропорта. Особого внимания заслуживают наши специалисты. Благодаря огромному накопленному опыту, и постоянному совершенствованию своих навыков они быстро и качественно помогут Вам подобрать оптимальные по всем параметрам предложения авиакомпаний. Агентство воздушных и железнодорожных сообщений прошло долгий путь и не останавливается на достигнутом, с каждым днём открывая новые возможности для Вас
                a.btn.btn-info(href="doc/sbor.pdf" role="button") Сервисные сборы
            div.col-md-5.desktop
                img.featurette-image.img-fluid.mx-auto(src="img/vhod.jpg" style="margin-top: 1em;")