extends base.pug
block content
    div.container.marketing
        div.row.featurette
            div.col-md-5.mobile#corp
                img.featurette-image.img-fluid.mx-auto(src="img/corpIso.png" style="margin-top: 1em;")
            div.col-md-7#corp(name="corp")
                h2.featurette-heading.rocket.zero Корпоративным клиентам
                p.lead Компания «Авианик» приглашает к сотрудничеству юридических лиц и индивидуальных предпринимателей. Мы сможем оптимизировать Ваши затраты на приобретение авиа и жд билетов, трансферов в аэропорт и бронирование гостиниц, при этом сэкономим ваше время и нервы. Все наши сотрудники - высококвалифицированные специалисты, что подтверждается соответствующими профессиональными сертификатами. Каждый из них в совершенстве владеет работой с несколькими системами бронирования. Всё это гарантирует, что Вам будет оказан оптимальный набор услуг по перевозке и проживанию, при этом стоимость поездки будет минимально возможной по выбранному Вами классу обслуживания. Оплата осуществляется по безналичному расчёту с оформлением полного пакета бухгалтерских документов.
                a.btn.btn-info(href="doc/typed.docx" role="button") Типовой договор
                a(href="doc/typez.docx")
                    button.btn.btn-link(type="button" ref="doc/typez.docx") Типовая заявка
            div.col-md-5.desktop
                img.featurette-image.img-fluid.mx-auto(src="img/corpIso.png" style="margin-top: 1em;")
        

