hr.featurette-divider.umenschit
footer.container.py-5
    div.row
        div.col-lg-4.desktop
            h5.rocket Продукты
            ul.list-unstyled.text-small
                li
                    a.text-muted(href="uslugi.html#aviabilety") Авиабилеты
                li
                    a.text-muted(href="uslugi.html#rzd") ЖД билеты
                li
                    a.text-muted(href="uslugi.html#trn") Трансферы
                li
                    a.text-muted(href="uslugi.html#tours") Туры и путевки
                li
                    a.text-muted(href="corp.html") Корпоративным клиентам
                li
                    a.text-muted(href="doc/oferta.pdf") Оферта
        div.col-lg-4.desktop
            h5.rocket Информация
            ul.list-unstyled.text-small
                li
                    a.text-muted(href="doc/agreement.docx" download) Пользовательское соглашение
                li
                    a.text-muted(href="doc/cookie.pdf") Политика обработки персональных данных
                li
                    a.text-muted(href="doc/typed.docx" download) Типовой договор
                li
                    a.text-muted(href="doc/typez.docx" download) Типовая заявка
                li
                    a.text-muted(href="doc/sbor.pdf" download) Сервисные сборы
                li
                    a.text-muted(href="https://yandex.ru/maps/-/CCUeYDvMsA") Мы на карте
                li
                    a.text-muted(href="about.html") О нас
        div.col-lg-4
            h5.rocket Связь с нами
            ul.list-unstyled.text-small
                li 
                    a.text-muted(href="tel:+74852329488") +7 (4852) 32-94-88
                li
                    a.text-muted(href="tel:+74852728220") +7 (4852) 72-82-20
                li
                    a.text-muted(href="mailto:info@avia76.ru") info@avia76.ru
                li
                    a.text-muted(href="https://yandex.ru/maps/-/CCUeYDvMsA") Россия, 150000, г. Ярославль, ул. Свободы, дом 20
                li
                    a.text-muted(href="https://avia76.ru") ООО Авианик, 1993 - 2023
                li
                    a.text-muted(href="doc/oferta.pdf") Оферта
                //li
                    img(src="img/icons/fb.png" width="36" style="margin-right: 0.1em;")
                    img(src="img/icons/vk.png" width="36" style="margin-right: 0.1em;")
                    img(src="img/icons/gmail.png" width="33" style="margin-right: 0.1em;")
footer.container
    p.float-right
        a#gotop(href="#") <i class="fas fa-arrow-up"></i>
    p &copy; 
        a(href="https://mihailovily.github.io") дизайн и разработка - mihailovily
