nav.navbar.navbar-expand-md.navbar-light.fixed-top.bg-white.desktop(style="padding-top: 0px;")
    //a.navbar-brand.rocket(href="index.html" style="color: #26519F; margin-left: 5%;") авианик
    a(href="index.html" style="margin-left: 5%; height: 1.5em;")
        img.navbar-brand.rocket(href="index.html" src="img/logo.svg" style="margin-left: 5%; height: 2em;")
    div.collapse.navbar-collapse#navbarCollapse
        ul.navbar-nav.mr-auto
            //li.nav-item
                a.nav-link(href="index.html") Домашняя
            li.nav-item
                a.nav-link(href="uslugi.html") Услуги
            li.nav-item
                a.nav-link(href="about.html") О нас
            li.nav-item
                a.nav-link(href="corp.html") Корпоративным клиентам
        ul.navbar-nav.mr-auto(style="margin-right: 3%;")#blocktop
            li.nav-item#phone
                a.nav-link(href="contact.html") <i class="or fas fa-phone-alt"></i>+7 (4852) 72-82-20
            li.nav-item
                a.nav-link(href="contact.html") <i class="or fas fa-home"></i>г. Ярославль, ул. Свободы, дом 20
        form.form-inline.mt-2.mt-md-0.nnn(style="margin-right: 3%;")
            a.btn.btn-info(href="contact.html" role="button") Связаться с нами
nav.mobile.mobnav
    div.mobile.container
        div.col-sm-4(style="text-align: center;")
            img.pad.otstup#burger(width="24px" height="24px" src="img/icons/menu.svg")
            //a.navbar-brand.rocket.otstup(href="index.html" style="color: #26519F; margin-left: 5%;") авианик
            a(href="index.html" style="margin-left: 5%; height: 1.5em; margin-top: 0.37em")
                img.navbar-brand.rocket.otstup(href="index.html" src="img/logo.svg" style="margin-left: 5%; height: 1.5em; margin-top: 0.37em")
            div.menu.row.ctr.rocket(style="display:none")
                //div.otstuptwo.col-sm-12
                    a.rocket(href="index.html") Домашняя
                div.otstuptwo.col-sm-12
                    a.rocket(href="uslugi.html") Услуги
                div.otstuptwo.col-sm-12
                    a.rocket(href="about.html") О нас
                div.otstuptwo.col-sm-12
                    a.rocket(href="corp.html") Корпоративным клиентам
                div.otstuptwo.col-sm-12
                    a.rocket(href="contact.html") Связаться

div.nk-cookie-banner.alert.alert-dark.text-center.mb-0(role="alert")
  a На сайте используются cookie-файлы. Продолжая использовать наш сайт, Вы принимаете 
    a(href="doc/cookie.pdf" target="_blank") политику обработки персональных данных
  button.btn.btn-info.cookie-text(type="button" onclick="hideCookieBanner()" style="margin-left: 1em;")
    a.btn.btn-info.cookie-text(role="button") ОК