meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="Description" content="Купить дешёвые авиабилеты, железнодорожные билеты и трансферы до аэропорта удобнее всего в авиакассе Авианик на ул.Свободы,20")
meta(name="author" content="mihailovily")
meta(name="Keywords" content="авиакассы кассы авианик авиабилеты железнодорожные билеты дешевые льготные субсидированные аэрофлот аэропорт трансфер купить впд бронирование гостиниц ярославль свободы агентство официальный")
link(rel="icon" href="favicon.ico" type="image/x-icon")
title Авианик - авиакасса в Ярославле
link(href="css/carousel.css" rel="stylesheet")
link(href="css/bootstrap.css" rel="stylesheet")
link(href="css/main.css" rel="stylesheet")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src="js/script.js")
script(src="https://kit.fontawesome.com/de2cbae981.js" crossorigin="anonymous")
script 
    import metrica.js
noscript
    div
        img(src="https://mc.yandex.ru/watch/56919460" style="position:absolute; left:-9999px;" alt="")
<!-- /Yandex.Metrika counter -->
meta(name="google-site-verification" content="u_XDcgwjs6aZgZgh0p-mxOK3q3sWqc-qe8qnfNWq2rY")
meta(name="yandex-verification" content="3c9d4b9fc700a096")