extends base.pug
block content
    div.container.marketing
        div.row.featurette
            +big-block-right("Авиакасса в Ярославле", " В нашей авиакассе, в самом центре Ярославля, мы поможем Вам подобрать оптимальный по стоимости и удобству вариант перевозки, сделаем это быстро и качественно", "contact.html", "Наш адрес", "about.html", "Узнать подробнее", "img/1.png", "")
        +razdelitel
        div.row
            +uslugi-block("", "img/planeIso.png", "240", "aviatickets", "Авиабилеты", "Основное направление деятельности ООО «Авианик» - продажа авиабилетов. Уже более 25 лет мы помогаем жителям Ярославля приобрести авиабилеты на выгодных условиях", "uslugi.html#aviabilety", "Узнать подробнее")
            +uslugi-block("", "img/trainIso.png", "240", "rzd", "ЖД билеты", "В кассах ООО «Авианик» вы можете приобрести железнодорожные билеты на все направления", "uslugi.html#rzd", "Узнать подробнее")
            +uslugi-block("margin-top: 3em;", "img/busIso.png", "240", "transfer", "Трансферы", "Одним из самых удобных способов добраться до аэропортов Московского авиаузла является прямая автобусная/автомобильная перевозка – трансфер", "uslugi.html#trn", "Узнать подробнее")
            +uslugi-block("margin-top: 3em;", "img/beachIso.png", "240", "tours", "Туры", "Накопленный нами за годы работы опыт, позволяет подобрать для Вас туристический продукт любой сложности", "uslugi.html#tours", "Узнать подробнее")
        +razdelitel
        div.row
            +registration("img/8.png", "240", "195", "Онлайн-регистрация - статус билета", "В данном разделе Вы можете проверить статуса вашего билета и пройти онлайн регистрацию на рейсы основных авиакомпаний", "registration.html", "Проверить")
            +registration("img/9.png", "240", "195", "Отзывы о нас", "В данном разделе Вы можете ознакомиться с отзывами о нашей работе либо оставить свой отзыв", "review.html", "Читать")
        +razdelitel
        div.row.featurette
            +big-block-left("Особые условия для корпоративных клиентов", "Компания «Авианик» приглашает к сотрудничеству юридических лиц и индивидуальных предпринимателей. Мы сможем оптимизировать Ваши затраты на приобретение авиа и жд билетов, трансферов в аэропорт и бронирование гостиниц, при этом сэкономим ваше время и нервы. Все наши сотрудники - высококвалифицированные специалисты, что подтверждается соответствующими профессиональными сертификатами", "tel:+74852728220", "Позвонить", "corp.html", "Узнать подробнее", "img/2.png", "")
            