extends base.pug
block content
    div.container.marketing
        +razdelitel
        div.row
            +regonsite("img/reg/afl.png", 'https://www.aeroflot.ru/ru-ru/information/airport/checkin/web_checkin')
            +regonsite("img/reg/pbd.png", 'https://www.pobeda.aero/information/information/check-in')
            +regonsite("img/reg/ru.png", 'https://wci.rossiya-airlines.com/#/search')
            +regonsite("img/reg/S7.png", 'https://www.s7.ru/ru/info/onlayn-registratsiya-na-reys/')
            +regonsite("img/reg/sb.png", 'https://www.myairlines.ru/pages/myOrder.jsf')
            +regonsite("img/reg/ua.png", 'https://checkin.uralairlines.ru/#')